<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Отчет по сравнению таблиц Trello</title>
    <style>
        {% include "sources/style.css" %}
    </style>
</head>
<body>

{% include "content-template.html.jinja" %}

<script type="text/javascript">
    {% include "sources/script.js" %}
</script>

</body>
</html>