.compare-report {
    font-size: 17px;
    display: inline-block;
    width: 750px;
    min-height: 500px;
    padding: 10px;
    padding-left: 25px;
    border: 5px solid black;
    border-radius: 12px;
    margin: 15px;
    font-family: 'Source Sans Pro', 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.mark {
    margin: 0;
    padding: 5px;
    padding-left: 0;
    margin-bottom: 15px;
    position: relative;
}

.mark::before {
    background-color: #62B0DA;
    content: "";
    position: absolute;
    height: 150%;
    width: 150%;
    z-index: -1;
    left: -40px;
    top: -15px;
    opacity: 0.6;
}

.element-header {
    display: inline-flex;
    width: 580px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #0075b4;
    padding-bottom: 5px;
}

.element-info {
    padding: 0;
    margin: 0;
    margin-right: 50px;
}

.comparisons {
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    box-shadow: -1px 0 0 rgba(0,117,180, 0.5);

    transition: opacity 0.2s linear;
    opacity: 0;
}

.hidden {
    display: none;
}

.comparisons.active {
    opacity: 1;
}

.comparisons li {
    padding: 0;
    margin-left: 25px;
    list-style-type: none;
    margin-top: 25px;
}

.expected-actual {
    padding: 2px;
}

.btn {
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in;
}

.btn.active {
    transform: rotate(0);
}

.arrow {
    width: 15px;
    height: 15px;
    fill: #0075b4;
}
